<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Add Gang</title>
</head>
<body>
<header class="header">
    <div class="header__inner container">
        <div class="header__inner-logo h2">
            <a href="/" class="header__logo-link">
                <span>#</span>Prison Utils
            </a>
        </div>
        <div class="header__inner-menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a href="/AllGang" class="header__menu-link h4">Группировки</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllPrison" class="header__menu-link h4">Колонии</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllCaste" class="header__menu-link h4">Касты</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllArticle" class="header__menu-link h4">Статьи</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<main>
    <section>
        <div class="addGang-page container">
            <form action="#" class="page__form" th:action="@{/addGang}" th:object="${gang}" method="post">
                <div th:if="${errorMessage}" class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>

                <label for="name">Название</label>
                <input type="text" id="name" th:field="*{name}" required>

                <label for="leader">Лидер</label>
                <input type="text" id="leader" th:field="*{leader}" required>

                <label for="prisonSelect">Выбор Колонии</label>
                <select id="prisonSelect" name="prisonId" required>
                    <option value="">Исправительные колонии</option>
                    <option th:each="prison : ${prisons}"
                            th:value="${prison.id}"
                            th:text="${prison.name} + ' - ' + ${prison.city}">
                    </option>
                </select>

                <button class="button button__form-submit" type="submit">Добавить</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>
