<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>All Prisons</title>
</head>
<body>
<header class="header">
    <div class="header__inner container">
        <div class="header__inner-logo h2">
            <span>#</span>Prison Utils
        </div>
        <div class="header__inner-menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a href="/AllGang" class="header__menu-link h4">Посмотреть группировки</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllPrison" class="header__menu-link h4 is-active" style="pointer-events: none">Посмотреть
                        все
                        тюрьмы</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllCaste" class="header__menu-link h4">Посмотреть все касты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <section class="container">
        <div class="showAllElement">
            <ul class="allelement__list">
                <li class="allElement__item" th:each="prison : ${prisons}">

                    <a href="#" class="allElement__item-link" style="pointer-events: none">Колония: <span
                            th:text="${prison.getName()}">Name</span></a>
                    <a href="#" class="allElement__item-link" style="pointer-events: none">Город: <span
                            th:text="${prison.getCity()}">City</span></a>
                </li>
            </ul>
        </div>
    </section>
</main>
</body>
</html>