<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto\:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Edit Prison</title>
</head>
<body>
<header class="header">
    <div class="header__inner container">
        <div class="header__inner-logo h2">
            <a href="/" class="header__logo-link">
                <span>#</span>Prison Utils
            </a>
        </div>
        <div class="header__inner-menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a href="/AllGang" class="header__menu-link h4 ">Группировки</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllPrison" class="header__menu-link h4 ">Колонии</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllCaste" class="header__menu-link h4 " >Касты</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllArticle" class="header__menu-link h4 ">Статьи</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <section>
        <div class="editPrison-page container">
            <form action="#" class="page__form" th:action="@{/editPrison/{id}(id=${prison.id})}" th:object="${prison}" method="post">
                <label for="prisonName">Название тюрьмы</label>
                <input type="text" id="prisonName" th:field="*{name}" required>
                <small class="text-muted">Только буквы и цифры</small>
                <h6 th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors-item">Ошибка валидации названия колонии</h6>


                <label for="prisonCity">Город</label>
                <input type="text" id="prisonCity" th:field="*{city}" required>
                <small class="text-muted">Только буквы</small>
                <h6 th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="errors-item">Ошибка валидации описания колонии</h6>


                <button class="button button__form-submit" type="submit">Обновить</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>
