<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Prison Utils</title>
</head>
<body>
<header class="header">
    <div class="header__inner container">
        <div class="header__inner-logo h2">
            <a href="/" class="header__logo-link">
                <span>#</span>Prison Utils
            </a>
        </div>
        <div class="header__inner-menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a href="/AllGang" class="header__menu-link h4 ">Группировки</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllPrison" class="header__menu-link h4 ">Колонии</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllCaste" class="header__menu-link h4 ">Касты</a>
                </li>
                <li class="header__menu-item">
                    <a href="/AllArticle" class="header__menu-link h4 ">Статьи</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<main>
    <section class="main-page">
        <div class="main__info container">
            <div class="main__info-btns">
                <a href="/addMember" class="main_info-btns-btn button">Добавить заключенного</a>
                <a href="/addCaste" class="main_info-btns-btn button">Добавить касту</a>
                <a href="/addGang" class="main_info-btns-btn button">Добавить группировку</a>
                <a href="/addPrison" class="main_info-btns-btn button">Добавить колонию </a>
            </div>
            <div class="main__info-prisoners container">
                <h4 class="main__info-count">Общее количество заключенных: <span th:text="${memberCount}"></span></h4>
                <h4 class="main__info-count">Общее количество каст: <span th:text="${casteCount}"></span></h4>
                <h4 class="main__info-count">Общее количество колоний: <span th:text="${prisonCount}"></span></h4>
                <h4 class="main__info-count">Общее количество группировок: <span th:text="${gangCount}"></span></h4>
                <ul>
                    <li class="main__info-item" th:each="member : ${members}">
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Имя:
                            <span th:text="${member.memberName}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Фамилия:
                            <span th:text="${member.memberSecondName}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Отчество:
                            <span th:text="${member.memberLastName}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Колония:
                            <span th:text="${member.prison != null ? member.prison.name + ' - ' + member.prison.city : 'N/A'}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Статья:
                            <span th:text="${member.articleNumber}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Описание статьи:
                            <span th:text="${member.articleDescription}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Дата заключения:
                            <span th:text="${member.joinedDate}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Активен:
                            <span th:text="${member.active}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Группировка:
                            <span th:text="${member.gang != null ? member.gang.name : 'N/A'}"></span>
                        </a>
                        <a href="/" class="main__info-item-link" style="pointer-events: none">Каста:
                            <span th:text="${member.caste != null ? member.caste.name : 'N/A'}"></span>
                        </a>

                        <div class="update-cont">
                            <a th:href="@{/editMember/{id}(id=${member.id})}" class="main__info-sup edit"><i
                                    class="fas fa-edit"></i></a>
                            <form action="#" th:action="@{/deleteMember/{id}(id=${member.id})}" method="post"
                                  style="display:inline;">
                                <button type="submit" class="main__info-sup delete"
                                        style="background:none; border:none; color:red; text-decoration:underline; cursor:pointer;">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section>
</main>
</body>
</html>

<!-- delete Articles -->
<!-- read Articles -->
<!-- update Articles -->
<!-- create Articles -->

